@import 'tailwindcss';
@plugin "@tailwindcss/typography";

html {
  font-size: 18px;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.4;
}

.prose {
  font-size: 18px;
  max-width: none;
}
